In [2]:
import pandas as pd
import requests

In [3]:
endpoint = "https://api.themoviedb.org/3/movie/37686"

In [5]:
headers = {
    "Authorization": "Bearer INSERT API AUTHORIZATION TOKEN HERE",
    "accept": "application/json"
}

In [6]:
response = requests.get(endpoint, headers=headers)

In [7]:
response

In [9]:
json_response = response.json()

In [20]:
genres = json_response['genres']

In [21]:
genres

[{'id': 53, 'name': 'Thriller'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 9648, 'name': 'Mystery'}]

In [25]:
raw_df = {
    "Title": "",
    "Runtime": 0,
    "Popularity": 0,
    "Genres": [genres]
}

In [26]:
df = pd.DataFrame(raw_df)
df.head()

,Title,Runtime,Popularity,Genres
0,,0,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '..."